* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('backGround.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

header {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgb(0, 0, 0));
    padding: 25px 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: cyan;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #00bcd4;
}

.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px; /* space below navbar */
}

.top-box {
    width: 60%;
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.month-arrow {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
}

.month-arrow:hover {
    color: cyan;
}

.month-arrow:disabled {
    color: gray;
    cursor: not-allowed;
}

.days-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#proceedBtn {
    width: 200px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#proceedBtn:hover:not(:disabled) {
    background-color: cyan;
}

#proceedBtn:disabled {
    background: gray;
    cursor: not-allowed;
}

.day-box {
    width: 180px;
    height: 260px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
    position: relative;
}

.slot-count {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
}

.contact-section {
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    padding: 60px 20px;
    margin-top: 210px;
    height: 600px;
}

.contact-section h1 {
    font-size: 30px;
    color: white;
    margin-bottom: 180px;
}

.numbers {
    display: flex;
    justify-content: center;
    gap: 20px; /* space beside */
    margin-bottom: 20px; /* space under */
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: 50px;
}

.numbers img {
    width: 100px;
    height: auto;
}

.monday-slot {
    position: absolute;
    top: -100px;
    left: 110px;
}

.monday-slot p {
    position: absolute;
    top: 120px;
    left: -100px;
    right: -100px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    text-align: justify;
    margin: 0;
}

.wednesday-slot {
    position: absolute;
    top: -100px;
    left: 510px;
}

.wednesday-slot p {
    position: absolute;
    top: 120px;
    left: -130px;
    right: -130px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    text-align: justify;
    margin: 0;
}

.friday-slot {
    position: absolute;
    top: -100px;
    left: 920px;
}

.friday-slot p {
    position: absolute;
    top: 120px;
    left: -130px;
    right: -130px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    text-align: justify;
    margin: 0;
}

.sunday-slot {
    position: absolute;
    top: -100px;
    left: 1325px;
}

.sunday-slot p {
    position: absolute;
    top: 120px;
    left: -110px;
    right: -110px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    text-align: justify;
    margin: 0;
}


