@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #e2c2ff, #d6b5ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 850px;
    height: 490px;
    background: white;
    border-radius: 25px;
    display: flex;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.form-container {
  flex: 1;
  padding: 40px 20px 60px 50px;
}

.image-container {
  flex: 1;
  background: linear-gradient(135deg, #4b0082, #8a2be2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 400px;
  z-index: 5;
}

h1 {
  font-size: 28px;
  color: #2d0057;
  margin-bottom: 10px;
}

h1 span {
  color: #7a00ff;
}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #2d0057;
}

label {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
  color: #3a0066;
}

input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1.5px solid #a77bff;
  outline: none;
  margin-bottom: 20px;
  transition: 0.3s;
}

input:focus {
  border-color: #7a00ff;
  box-shadow: 0 0 6px rgba(122, 0, 255, 0.3);
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #4b0082;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #6b00d7;
}

.bottom-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.bottom-text a {
  color: #7a00ff;
  text-decoration: none;
  font-weight: 500;
}

.bottom-text a:hover {
  text-decoration: underline;
}
